.banner-main {
  font-family: sans-serif;
  width: 100%;
  height: 90px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.banner-logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.new-on-dh {
  font-style: italic;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(4, 7, 29);
  position: absolute;
  right: 7px;
  top: 8px;
}

.three-day-returns {
  background: rgb(255, 227, 63);
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 4px;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  line-height: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(4, 7, 29);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.free-delivery {
  background: rgb(255, 227, 63);
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 4px;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  line-height: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(4, 7, 29);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
